/* version 17.0 */

/* DEFAULTS */

p {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: small;
}

br {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: small;
}

a {
    text-align: center;
    font-size: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: none;
    vertical-align: middle;
    color: white;
}

a:link {
    text-align: center;
    font-size: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: none;
    vertical-align: middle;
    color: white;
}

a:visited {
    text-align: center;
    font-size: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: none;
    vertical-align: middle;
    color: white;
}

a:hover {
    text-align: center;
    font-size: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: none;
    vertical-align: middle;
    background-color: #5694d3;
    opacity: 60%;
    color: white;
}

a:active {
    text-align: center;
    font-size: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: none;
    vertical-align: middle;
    color: white;
}

/* SUBJECT */

#subject-header {
    display:inline-block;
    position: relative;
    width: 100px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
}

#subject-header:hover {
    background-color: #5694d3;
    opacity: 60%;
}

#subject-footer {
    display:inline-block;
    position: relative;
    width: 100px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
}

#subject-footer:hover {
    background-color: #5694d3;
    opacity: 60%;
}

/* MENU AREA */

#sddm
{	margin: 0;
	padding: 0;
	z-index: 30;
    }

#sddm li
{	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: bold 11px arial}

/*menu head*/
#sddm li a
{	display:inline-block;
    width: 140px;
    padding: 5px
    height: 20px;
    margin-left: 0 auto;
    margin-right: 0 auto;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    font-size: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: none;
    vertical-align: middle;
    color: white;}

#sddm li a:hover
{	background-color: #5694d3;
    opacity: 60%;
    text-decoration: none;
    text-align: center;
    font-size: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: none;
    vertical-align: middle;
    color: white;}

/*dropdown*/
#sddm div
{	position: absolute;
	visibility: hidden;
	margin-left: 0 auto;
    margin-right: 0 auto;
	padding: 0;
	background: #5694d3;
    text-decoration: none;
    text-align: center;
    font-size: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: none;
    vertical-align: middle;
    color: white;}

#sddm div a
	{	position: relative;
		display: block;
		margin: 0;
        padding: 5px;
		width: 140px;
		text-align: center;
        text-decoration: none;
        vertical-align: middle;
        text-align: center;
        font-size: 100%;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        background-color: none;
        vertical-align: middle;
        color: white;
		background: #5694d3;
		color: white;
		font: 11px arial;}

#sddm div a:hover
	{	background: #1c538b;}
    
/*footer area*/
#sddmfoot
{	margin: 0;
	padding: 0;
	z-index: 30;
    }

#sddmfoot li a
{	display:inline-block;
    width: 140px;
    padding: 5px
    height: 20px;
    margin-left: 0 auto;
    margin-right: 0 auto;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    font-size: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: none;
    vertical-align: middle;
    color: white;}

#sddmfoot li a:hover
{	background-color: #5694d3;
    opacity: 60%;
    text-decoration: none;
    text-align: center;
    font-size: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: none;
    vertical-align: middle;
    color: white;}

/*dropdown*/
#sddmfoot div
{	position: absolute;
	visibility: hidden;
	margin-left: 0 auto;
    margin-right: 0 auto;
	padding: 0;
    bottom: 40px;
	background: #5694d3;
    text-decoration: none;
    text-align: center;
    font-size: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: none;
    vertical-align: middle;
    color: white;}

#sddmfoot div a
	{	position: relative;
		display: block;
		margin: 0;
        padding: 5px;
		width: 140px;
		text-align: center;
        text-decoration: none;
        vertical-align: middle;
        text-align: center;
        font-size: 100%;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        background-color: none;
        vertical-align: middle;
        color: white;
		background: #5694d3;
		color: white;
		font: 11px arial;}

#sddmfoot div a:hover
	{	background: #1c538b;}


/* HEADER */

#header_container { 
    height:90px; 
    left:0; 
    position:absolute;
    margin-left: 0 auto;
    margin-right: 0 auto;
    clear: both; 
    width:100%; 
    top:0;
    z-index:1;
    background: -webkit-linear-gradient(bottom, #000000, #24242c);
    background: -o-linear-gradient(bottom, #000000, #24242c);
    background: -moz-linear-gradient(bottom, #000000, #24242c);
    background: linear-gradient(to bottom, #000000, #24242c);
}
    
#header{
    width:100%;
    margin-left: 0 auto;
    margin-right: 0 auto;
    text-align:center;
    position: fixed;
    color: white;
    }
    
/* BODY */

body {
    position: absolute;
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: hidden;
    background: #24242c;
}

#body_container {
    height:100%;
    width:100%;
    margin-left: 0 auto;
    margin-right: 0 auto;
    overflow: hidden;
}


#body_container img {
    width: 100%;
    height: 100%;
    min-height: 500px;
    min-width: 952px;
}
 
/* INTRO

#intro_container {
    position: relative;
    overflow:hidden;
	background-image: url("");
    background-repeat: no-repeat;
    background-position: center;
    top: 95px;
    width: 230px;
    height: 230px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#intro {
    padding: 3px;
    padding-left: 10px;
    vertical-align: middle;
    }

#intro h3 {
    color: white;
    font-size: medium;
    font-style: bold;
}

#intro p {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: small;
color: white;
}

#intro a {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: small;
color: white;
}

#intro a:link {
    text-decoration: none;
    border-style: none;
}

#intro a:visited {
    color: white;
    text-decoration: none
    border-style: none;
}

#intro a:hover {
    text-decoration: underline;
    border-style: none;
}

#intro a:active {
    text-decoration: none;
    border-style: none;
}

END INTRO */

/* MENU

.menuDialog {
	position: absolute;
    top:90px;
	bottom:60px;
    overflow: hidden;
    width: 300px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.close {
	background: none;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: 12px;
	text-align: center;
	top: 9px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
} 

#menuheader {
    height: 40px;
    line-height: 40px;
    width: 100%;
    text-align: center;
    font-size: 125%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: white;
    vertical-align: middle;

    background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.16, #FFA6A6),
	color-stop(1, #C31C1C)
);
background-image: -o-linear-gradient(bottom, #FFA6A6 16%, #C31C1C 100%);
background-image: -moz-linear-gradient(bottom, #FFA6A6 16%, #C31C1C 100%);
background-image: -webkit-linear-gradient(bottom, #FFA6A6 16%, #C31C1C 100%);
background-image: -ms-linear-gradient(bottom, #FFA6A6 16%, #C31C1C 100%);
background-image: linear-gradient(to bottom, #FFA6A6 16%, #C31C1C 100%);
}

#menuarea {
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    bottom: 0px;
    top: 40px;
    left:0px;
    right:0px;
    margin-left: auto;
    margin-right: auto;
    }

#menu {
    height: auto;
    width: 100%;
    padding-left: 5px;
    font-size: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: none;
    vertical-align: middle;
    padding-top:5px;
    padding-bottom:5px;
}

#menu:hover {
    background-color: #fb7474;
    opacity: 60%;
    }

#menu a {
    font-size: 125%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: none;
    vertical-align: middle;
    text-decoration: none;
    color: black;
}

#menu a:link {
    text-decoration: none;
    border-style: none;
    color: black;
}

#menu a:visited {
    text-decoration: none;
    border-style: none;
    color: black;
}

#menu a:hover {
    border-style: none;
    color: black;
}

#menu a:active {
    text-decoration: none;
    border-style: none;
    color: black;
}

#dateheader {
    height: 40px;
    line-height: 40px;
    width: 100%;
    text-align: center;
    font-size: 125%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: white;
    vertical-align: middle;
    background-color: #e46767;
}

END MENU */
    
/* RIGHT

#right_container {
	position: absolute;
	float: right;
    background-color: #d7d7d7;
	overflow:auto;
    right: 0px;
    width: 350px;
	top:60px;
	bottom:60px;
}

#right {

    }

#right p {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	font-family: Arial, serif;
	color: #000000;
	font-size: large;
}

#right a {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: small;
color: #216184;
text-decoration: none;
}

#right a:link {
    text-decoration: none;
    border-style: none;
}

#right a:visited {
    color: #842121;
    text-decoration: none;
    border-style: none;
}

#right a:hover {
    text-decoration: underline;
    border-style: none;
}

#right a:active {
    text-decoration: none;
    border-style: none;
}

RIGHT END */

 
/* FOOTER */

#footer_container {  
    border:0px solid; 
    bottom:0; 
    height:40px; 
    left:0; 
    position:absolute; 
    width:100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: -webkit-linear-gradient(bottom, #24242c, #000000);
    background: -o-linear-gradient(bottom, #24242c, #000000);
    background: -moz-linear-gradient(bottom, #24242c, #000000);
    background: linear-gradient(to bottom, #24242c, #000000);
}
    
#footer { 
    text-align:center; 
    width:100%;
    margin-left: 0 auto;
    margin-right: 0 auto;
    text-align:center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    text-decoration: none;
    vertical-align: middle;
    }

/* MODAL POPUP

.modalDialog {
	position: fixed;
    top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 290px;
    height: 290px;
    overflow: hidden;
	position: relative;
	margin: 5% auto;
	padding: 10px 10px 10px 10px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.modalclose {
	background: 
	color: #000000;
	line-height: 25px;
	position: absolute;
	right: 10px;
	text-align: center;
	top: 5px;
	width: 24px;
    text-decoration: none;
	font-weight: bold;
}

#modalheader {
    height:20px;
    }

#modalarea {
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    bottom: 0px;
    top: 30px;
    left:0px;
    right:0px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: small;
    }
    
#modalarea br {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: small;
}

END MODAL POPUP */

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #e46767; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background-color: #e46767 
}